<form method="post">
    {% csrf_token %}
    <label for="servico">Escolha o serviço:</label>
    <select name="servico" id="servico">
        {% for servico in servicos %}
            <option value="{{ servico.id }}">{{ servico.nome }}</option>
        {% endfor %}
    </select>
    <label for="descricao">Descrição:</label>
    <textarea name="descricao" id="descricao"></textarea>
    <label for="data_solicitada">Data:</label>
    <input type="date" name="data_solicitada" id="data_solicitada">
    <button type="submit">Solicitar</button>
</form>
